{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set media = content.field_media[0]['#media'].field_media_image ?? null %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ include('@shizen/templates/paragraph/partials/background-cover-image-with-ctas.html.twig', {
        content: content,
        hoverable: true,
      }) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
