{% from "@shizen/macros/ui/atoms/media/ui.media.html.twig" import media %}
{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

{% set media = paragraph.field_media_gallery.entity %}

<div class="p-4">
  <div class="flex items-center gap-4 mb-4">
    <div class="flex-shrink-0 w-20 h-20">
      {{ media(media, {
        class: 'rounded-full',
      }) }}
    </div>

    {{ simpleHeader({
      wrapperClass: 'flex-1',
      titleTag: paragraph.field_title_tag.value,
      titleLabel: paragraph.field_title.value,
      descriptionLabel: paragraph.field_description.value,
    }) }}
  </div>

  <blockquote class="text-xl italic">
    {{ paragraph.field_content_description.value | raw }}
  </blockquote>
</div>
