{% from "@shizen/macros/ui/organisms/card/ui.card.html.twig" import card_item %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set parent_paragraph = paragraph._referringItem.parent.parent.entity %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ card_item({
        icon: {
          name: paragraph.field_icon.target_id,
          position: parent_paragraph.field_layout_card_icon_position.value,
          size: parent_paragraph.field_layout_card_icon_size.value,
          style: parent_paragraph.field_layout_card_icon_style.value,
        },
        title: paragraph.field_title.value,
        description: paragraph.field_description.value,
        ctas: paragraph.field_paragraph_cta[0].entity,
      }) }}
    {% endblock %}
  </div>
{% endblock paragraph %}
