{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

<div class="grid gap-4 lg:gap-20 md:grid-cols-2">
  {{ simpleHeader({
    titleTag: paragraph.field_title_tag.value,
    titleLabel: paragraph.field_title.value,
    descriptionLabel: paragraph.field_description.value,
    cta: paragraph.field_cta.entity,
  }) }}

  <div>{{ paragraph.field_content_description.value | raw }}</div>
</div>
