{% from "@shizen/macros/ui/molecules/container/ui.container.html.twig" import container %}
{% from "@shizen/macros/ui/atoms/media/ui.media.html.twig" import media %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set paragraph_content %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="lg:text-xl space-y-10 lg:space-y-20">
        {{ content|without('field_media') }}

        <div class="flex justify-center">
          {{ media(content.field_media, {
            responsive_image_id: 'content_1_1',
            attrs: {
              class: 'max-w-[640px] max-h-[480px]',
            },
          }) }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endset %}

{% set layout_paragraph = paragraph.field_paragraph_layout.entity %}

{{ container({
  alignment: 'center',
  background: layout_paragraph.field_layout_background.value,
  height: layout_paragraph.field_layout_height.value,
  width: 'wide',
  content: paragraph_content,
}) }}
