{% from "@shizen/macros/ui/atoms/image/ui.image.html.twig" import image %}

{% set col_class = {
  0: {
    0: 'md:col-span-6',
    1: 'md:col-span-3',
    2: 'md:col-span-3'
  },
  1: {
    0: 'md:col-span-3',
    1: 'md:col-span-6',
    2: 'md:col-span-3'
  }
} %}

{% for batch in images|batch(3) %}
  {% set current_batch = loop.index0 % 2 %}
  <div class="grid grid-cols-12 gap-2 mb-2 md:gap-4 md:mb-4">
    {% for image in batch %}
      <div class="col-span-12 {{ col_class[current_batch][loop.index0] }} md:flex">
        {{ image(image|file_uri) }}
      </div>
    {% endfor %}
  </div>
{% endfor %}
