@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-light: rgba(250, 250, 250);
  --color-light-soft: rgba(250, 250, 250, 0.8);

  --color-muted-light: rgb(230, 230, 230);
  --color-muted-light-soft: rgba(230, 230, 230, 0.8);

  --color-muted: rgb(200, 200, 200);
  --color-muted-soft: rgb(200, 200, 200, 0.8);

  --color-dark: rgb(10, 10, 10);
  --color-dark-variant: rgb(40, 40, 40);
}
