<div{{ attributes.addClass('grid', 'grid-cols-12', 'gap-1') }}>
  {% for item in items %}
    {% set mod = loop.index0 % 6 %}
    {% set col = mod == 0 ? 'col-span-12' : (mod in [1, 2] ? 'col-span-6' : 'col-span-4') %}

    <div class="{{ col }}">
      <div{{ item.attributes.addClass('bg-gray-200') }}>
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>
