{% set direction = element['#object'].field_layout_card_icon_direction.value %}
{% set field_classes = 'space-y-10' %}

{% if direction == 'horizontal' %}

  {% set count = items|length %}
  {% set max_cols = count >= 4 ? 4 : count %}

  {% set grid_class = ' grid-cols-1 sm:grid-cols-2' %}

  {% if max_cols >= 3 %}
    {% set grid_class = grid_class ~ ' lg:grid-cols-3' %}
  {% endif %}

  {% if max_cols == 4 %}
    {% set grid_class = grid_class ~ ' xl:grid-cols-4' %}
  {% endif %}

  {% set field_classes = 'grid gap-8' ~ grid_class %}
{% endif %}

<div{{ attributes.addClass(field_classes) }}>
  {% for item in items %}
    <div{{ item.attributes }}>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
