{% from "@shizen/macros/ui/atoms/link/ui.link.html.twig" import link %}

<ul{{ attributes }}>
  {% for item in links %}
    <li{{ item.attributes.addClass('block py-2 px-3 lg:p-0 rounded-sm hover:bg-muted-light lg:hover:bg-transparent lg:border-0') }}>
      {{ link({
        label: item.text,
        href: item.attributes.hreflang != 'en' ? item.attributes.hreflang : '/',
        class: 'language-link',
        gaCategory: 'language-switcher',
        attributes: {
          hreflang: item.attributes.hreflang,
          data_drupal_link_system_path: '<front>',
        }
      }) }}
    </li>
  {% endfor %}
</ul>
