{% extends "block.html.twig" %}

{% from "@shizen/macros/ui/atoms/link/ui.link.html.twig" import link %}
{% from "@shizen/macros/ui/atoms/title/ui.title.html.twig" import title %}

{% block content %}
  {% if site_logo %}
    {% set link_content %}
      <img src="{{ site_logo }}"
           alt=""
           fetchpriority="high"
           class="h-8 my-auto"
           role="presentation"
           aria-hidden="true" />
      {% if site_name %}
        {{ title({tag: 'span', label: site_name, style: 'h4'}) }}
      {% endif %}
    {% endset %}

    {{ link({
      label: link_content,
      gaCategory: 'brand-block',
      attrs: {
        aria_label: 'Homepage'|t,
        class: 'flex items-center space-x-3',
        href: path('<front>'),
        rel: 'home',
      },
    }) }}
  {% endif %}

  {% if site_logo %}
    <p>{{ site_slogan }}</p>
  {% endif %}
{% endblock %}
