{% macro carouselIcons(opts) %}
  {% from "@shizen/macros/ui/atoms/icon/ui.icon.html.twig" import icon %}

  <button type="button" class="{{ opts.event }} absolute top-0 {{ opts.position }} z-10 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
  <span class="inline-flex items-center justify-center w-10 h-10 rounded-full
  bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
    <span class="text-white">
      {{ icon(opts.icon_name) }}
    </span>
  </span>
  </button>
{% endmacro carouselIcons %}
