.dropdown-btn {
  @apply flex items-center justify-between w-full py-2 px-3
    /* Light Mode */
  hover:bg-base-hover
    /* Dark Mode */
  dark:text-base-dark-content dark:hover:bg-base-dark-hover
  dark:focus:text-base-dark-content
    /* Desktop Light */
  lg:p-0 lg:w-auto lg:hover:bg-transparent lg:hover:text-primary
    /* Desktop Dark */
  lg:dark:hover:text-primary lg:dark:hover:bg-transparent;
}

.nav-dropdown {
  @apply z-10 font-normal w-44 rounded-lg shadow
    /* Light Mode */
  bg-base-dark divide-y divide-stroke
    /* Dark Mode */
  dark:bg-base-dark dark:divide-stroke-dark;
}

.nav-dropdown .nav-link {
  @apply px-4 py-2 w-full text-left;
}
