.nav-link {
  @apply block py-2 px-3 rounded
    /* Light Mode */
  text-base-content hover:bg-base-hover
    /* Dark Mode */
  dark:text-base-dark-content dark:hover:bg-base-dark-hover
  dark:hover:text-base-dark-content
    /* Desktop Light */
  lg:p-0 md:hover:bg-transparent lg:hover:text-primary
    /* Desktop Dark */
  lg:dark:hover:text-primary lg:dark:hover:bg-transparent;
}

.nav-link-active {
  @apply block py-2 px-3 rounded
    /* Light Mode */
  text-primary-content bg-primary
    /* Dark Mode */
  dark:bg-primary
    /* Desktop Light */
  md:p-0 md:bg-transparent lg:text-primary
    /* Desktop Dark */
  lg:dark:text-primary lg:dark:bg-transparent;
}
