{% macro icon(name, opts) %}
  {% set default_classes = [
  ] %}

  {# Merge class with default classes #}
  {% set attrs = opts.attrs ?? {} %}
  {% set attr_class = (attrs.class ?? '')|split(' ') %}
  {% set classes = default_classes|merge(attr_class) %}
  {% set attrs = attrs|merge({class: classes|join(' ')}) %}

  {% if attrs.aria_label is empty %}
    {% set attrs = attrs|merge({aria_hidden: 'true'}) %}
    {% set attrs = attrs|merge({role: 'presentation'}) %}
  {% endif %}

  {% set parts = name|split(':') %}
  {% set icon_set = parts[1] is defined ? parts[0] : 'bootstrap' %}
  {% set icon_name = parts[1] is defined ? parts[1] : parts[0] %}

  <div
    {# Display the attributes #}
    {% for name, value in attrs %}
      {{ ' ' ~ name|replace({'_': '-'}) }}="{{ value }}"
    {% endfor %}
  >
    {{ icon(icon_set, icon_name, opts) }}
  </div>
{% endmacro icon %}
