{% macro responsive_image(entity, responsive_image_id, opts) %}
  {% set default_classes = [
    'w-full',
    'object-cover',
  ] %}

  {% set uri = entity|file_uri %}

  {# Merge class with default classes #}
  {% set attrs = opts.attrs ?? {} %}
  {% set attr_class = (attrs.class ?? '')|split(' ') %}
  {% set classes = default_classes|merge(attr_class) %}
  {% set attrs = attrs|merge({class: classes|join(' ')}) %}
  {% set attrs = attrs|merge({alt: entity.0.alt}) %}

  {% if not attrs.loading %}
    {% set attrs = attrs|merge({loading: 'lazy'}) %}
  {% endif %}

  {% if 'h-auto' not in attr_class and 'h-full' not in attr_class %}
    {% set attrs = attrs|merge({class: 'h-auto'}) %}
  {% endif %}

  {% set image = {
      '#theme': 'responsive_image',
      '#responsive_image_style_id': responsive_image_id,
      '#uri': uri,
      '#attributes': attrs,
    }
  %}

  <div class="relative rounded-md overflow-hidden">
    {% if opts.has_skeleton is not defined or opts.has_skeleton %}
      <div class="skeleton-overlay absolute inset-0 bg-muted-light animate-pulse pointer-events-none rounded-md z-10"></div>
    {% endif %}

    {{ image }}
  </div>

{% endmacro responsive_image %}
