*
!/modules
!/modules/**
!/profiles
!/profiles/**
!/sites
!/sites/**
!/themes
!/themes/**
!.csslintrc
!.eslintignore
!.eslintrc.json
!.gitignore
!.ht.router.php
!autoload.php
!index.php
!README.md
!robots.txt
!update.php
/robots.txt